body {
	background-image: url("../resources/images/city.jpg") !important;
	background-size: cover;

	min-width: 100% !important;
	min-height: 100% !important;
}

#bounce_title {

	h2  {
		color: white;
		font-family: "Raleway", sans-serif;
		padding: 10px;

		span {
			font-weight: bold;
		}
	}

	img {
		padding-top: 25vh;
		font-size: 10em;
		padding-bottom: 0;
		-webkit-filter: drop-shadow(1.5px 1.5px 1.5px #111);
    	filter:         drop-shadow(1.5px 1.5px 1.5px #111); 
	}

	a.button {
		font-family: "Raleway", sans-serif;
		margin-top: 5vh;
	}

	text-align: center;
}