doctype html.no-js(lang="en")
head

  // Page info and metadata
  title Bounce API
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')

  // Stylesheets
  link(rel="stylesheet" href="../static/stylesheets/app.css")

  // Favicon
  link(rel="icon" type="image/png" href="../static/resources/images/frog-favicon.png")

body
  .large-12.columns
    h1  Bounce API
    p   Hi there! Welcome to the Bounce Messaging API.
    p   
        | This API is currently under construction. 
        | You can find the documentation of our currently available methods at our 
        a(href="https://github.com/stevenschmatz/Bounce-Backend/blob/master/api/README.md") Github page.
    p   If you're interested in contributing, feel free to submit a pull request.