// Bounce Messaging
// Steven Schmatz
// December 26, 2014

doctype html.no-js(lang='en')
head

  // Page info and metadata
  title Bounce Messaging
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='google-site-verification', content='KXcmS-QfTjyy9Pa3tpB-C86Ayxm5a6OvQqDkeDSmmqQ')

  // Stylesheets
  link(rel='stylesheet', href='../static/stylesheets/app.css')

  // Fonts
  link(href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')

  // Scripts
  script(src='../static/bower_components/modernizr/modernizr.js')
  
body
  .row
    #bounce_title.large-12.columns.centered
      svg(src="../static/resources/images/logo.svg")
      h2 Immortalize your memories
      a.button Learn more

  // Scripts for Foundation
  script(src='../static/bower_components/jquery/dist/jquery.min.js')
  script(src='../static/bower_components/foundation/js/foundation.min.js')
  script(src='../static/js/app.js')